@import url(./reset.css);
@import url(./variables.css);

@font-face {
    font-family: 'Craftsy';
    src: url(../assets/fonts/Craftsy.otf) format(opentype);
    font-weight: normal;
}

.login-body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color2);
    background-size: cover;
    background-position: center;
    height: 100vh;
    align-items: center;
    justify-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-primary);
}

.Craftec {
    font-family: var(--font-family);
    font-size: 2rem;
    display: flex;
    color: var(--color-text);
    padding: 5px 20px 10px 20px;
    gap: 20px;
}

.dispositivos {
    display: flex;
    color: var(--color-text);
    padding: 20px 20px 10px 20px;
    gap: 20px;
}

.home {
    background-color: var(--background-color);
    color: var(--color-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    font-size: var(--font-size-base);
}

.tudo{
    display: grid; place-items: center;
}
.login {
    color: var(--color-text);
    display: flex;
    padding: 20px 20px 10px 20px;
    padding-left: 400px;
    gap: 20px;
}

.titulo {
    padding-top: 100px;
}

.formulario-login {
    padding: 20px 0 20px 0;
}

input[type="password"] {
    width: 350px;
    height: 30px;
}

input[type="email"] {
    width: 350px;
    height: 30px;
}

.opcao {
    padding: 10px 0 0 220px;
}

input[type="checkbox"] {
    color: var(--color-quarto);
}

input[type="radio"] {
    color: var(--color-quarto);
}

.entrar button {
    border-radius: 5px;
    background-color: var(--color-terciary);
    color: white;
    cursor: pointer;
    width: 100px;
    height: 30px;
}

.entrar {
    padding: 10px 250px 0 0;
    border: none;
}